<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/static/publicIndex.css'>
        <meta charset="UTF-8">
        <title>Item Catalog Project</title>
    </head>
    <body>
        <div class="login"><form action '{{ url_for ('showLogin') }}></form></div>
             <div class="title">Toybox Inventory</div>
                <div class="items">Current Items:</div>
                    <div class="flash">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
        
                            {% for message in messages %}
                                <b>{{ message }}</b> 
                            {% endfor %}
                    
                            {% endif %}
                        {% endwith %}
                    </div>
                <br><br>        
                    

                    {% for a in allToys %}
                        <div class="center">
                            <h2><b><a href={{url_for('ListToyItems', toy_id = a.id) }}>{{a.name}}</b></p></h2>
                        </div>
                    {% endfor %}

        <div class="button"><button type="button"><a href='{{url_for('showLogin') }}'>Login</a></button></div>
    </body>
</html>